@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.oo a{

    margin: auto 5px;
    color: white;
    justify-content: space-around;
    text-decoration: none;
}

.navigation{
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: gray;   
    
}



.oo a:focus{
    transition: all .5s;
    color: blueviolet;
}

.container{
    
    display: flex;
    background-image: url(gg.png);
    background-attachment: fixed;
    height: 280px;
    padding: 145px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container p{
    font-size: 20px;
}

.container button{

    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 18px;
    background-color: aqua;
    margin: 10px;
    margin-top: 30px;
    transition: all .3s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
   
    
}


.Sob h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.Sob{
    margin: 30px;
    font-size: 20px;
    padding: 20px;

}




